*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

.modal{
    position: fixed;
    background: #ccc;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    display:flex;
    justify-content: center;
    
    
}
.modal-container{
    padding: 32px;
    position: relative;
    width: 420px;
    height: 800px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border: 2px solid rgpa(255,255,255, .5);
    border-radius: 20px;
}

.icon-arrow-left{
    text-decoration: none;
}

.modal-out{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.modal-header{
    text-align: center;
}

.modal-body{
    
    padding-top: 60px;

    
}

.modal-input{
    padding: 10px;
    margin-right: 22px;
    margin-left: -10px;
    
}

.modal-phone-number:hover{
    border: 1px solid  #ccc;
}

.modal-phone-number{
    width: 100%;
    border-radius: 5px;
    border: 1px solid red;
    padding : 15px;
}

.modal-password:hover{
    border: 1px solid  #ccc;
}

.modal-password{
    width: 100%;
    border-radius: 5px;
    border: 1px solid red;
    padding : 15px;
}

.modal-login{
    width: 100%;
    background: rgb(252, 54, 54);
    border: none;
    padding : 12px;
    color: #fff;
    border-radius: 5px;
}

.modal-forget{
    text-align: center;
    padding : 10px
}

.modal-forget:hover{
    text-decoration:underline;
    color:rgb(252, 54, 54);
}

.modal-forgot-password{
    text-decoration: none;
    text-align: center;
    color : rgb(252, 54, 54);
}

.modal-signIn{
    width: 100%;

    border: 1px solid rgb(252, 54, 54);
    padding : 12px;
    color: rgb(252, 54, 54);
    border-radius: 5px;
}

